.nav-admin *{
    color: #000 !important;
}
.menu li:hover{
   border-radius: 0px .6rem .6rem 0px;
}
.menu li.active{
   border-radius: 0px .6rem .6rem 0px;
}

/*THE MAGIC BEGINS HERE*/

.menu-container.admin{
   flex-direction: column;
   align-items: center;
   width: 55px;
   top: 0;
   z-index: 100000;
   padding-top: 20px ;
}
.info{
    width: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: hidden;    
}
.info.magic,
.info.show{
    visibility: visible;
    transition: visibility 0.75s cubic-bezier(0.25, 0.1, 0.25, 1.0);    
}
.menu-container.admin.show,
.menu-container.admin.magic{
    width: 260px; 
}
.info img{
    width: 5vw;
}
.info span{
    width: 90%;
    background-color: #FFF;
    height: 2px;
    border-radius: 2px;
    margin: 10px;
}
.hamburger{
    position: absolute;
    top: 15px;
    right: 10px;
}
.nav-admin .nav-link,
.nav-admin .navbar-item{
    background-color: #fff;
}
.navbar-item .active{
    color: #fff !important;
    font-weight: 900;
}
.nav-link{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-link:hover {
    background-color: #FFFFFF !important;
    color: #274C77 !important;
}
.nav-admin{
    background-color: #fff;
    padding: 3px 5px 3px 5px !important;
    border-bottom: 2px solid #9ea6b0;
}

.dropdown-menu-cus li a:hover{
    color: #fff !important;
}
.dropdown-menu-cus li:nth-last-child(1) a:hover{
    color: #ff0000 !important;
}
.dropdown-toggle::after{
    padding: 3px;
    border-top: 4px solid;
    border-right: 4px solid;
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
    transform: rotate(45deg);
}
.table{
    background-color: #F5F1F1;
    border-radius: .5rem;
    overflow: hidden;
}
thead tr td{
    margin:auto;
    overflow-x:auto;
    text-align: center;
    font-weight: 800;
}
tbody tr td{
    margin:auto;
    overflow-x:auto;
    text-align: center;
}
tbody tr td:nth-child(1){
    font-weight: 800;
}

/********* Dashboard **********/
:root{
   --bg-blue: #337ab7;
   --bg-hoki: #67809F;
   --bg-red: #e7505a;
   --bg-purple: #8E44AD;
}
.wrapper {
  position: relative;
  margin-top: 3rem;
}
.dashboard-stat {
  position: relative;
  display: block;
  margin: 0 0 25px;
  overflow: hidden;
  border-radius: 4px;
}
.dashboard-stat .visual {
  display: block;
  float: left;
  padding-top: 10px;
  padding-left: 15px;
  margin-bottom: 15px;
  font-size: 2.5rem;
  line-height: 2rem;
}
.dashboard-stat .visual > i {
  margin-left: -1rem;
  margin-bottom: -1rem;
  font-size: 10rem;
  line-height: 110px;
  color: #fff;
  opacity: .08;
}
.dashboard-stat .details {
  position: absolute;
  right: 15px;
  padding-right: 1rem;
  color: #fff;
}
.dashboard-stat .details .number {
  padding-top: 25px;
  text-align: right;
  font-size: 34px;
  line-height: 36px;
  letter-spacing: -1px;
  margin-bottom: 0;
  font-weight: 300;
}
.dashboard-stat .details .number .desc {
  text-transform: capitalize;
  text-align: right;
  font-size: 16px;
  letter-spacing: 0;
  font-weight: 300;
}
.blue {
  background-color: var(--bg-blue);
}
.red {
  background-color: var(--bg-red);
}
.purple {
  background-color: var(--bg-purple);
}
.hoki {
  background-color: var(--bg-hoki);
}
.sample-container{
    position: relative;
    width: 100%;
    display: flex;
}
.sample-container > div{
    border: 1px solid #000;
    width: 50%;
}


/** --------------------------------
 -- welcome
-------------------------------- */
.sample {
	color: var(--primary);
    position: relative;
    width: 100%;
}

.sample .content {
	box-shadow: var(--shadow)
}

.sample p {
	color: var(--white);
}

/** --------------------------------
 -- Statistics
-------------------------------- */
.statistics {
	color: var(--primary);
}

.statistics .box {
	box-shadow: var(--shadow)
}

.statistics .box i {
	width: 60px;
	height: 60px;
	line-height: 60px;
}

.statistics .box p {
	color: var(--primary);
}

/** --------------------------------
 -- Charts
-------------------------------- */
.charts .chart-container {
	box-shadow: var(--shadow);
    height: 350px;
}

.charts .chart-container h3 {
	color: var(--primary)
}

/** --------------------------------
 -- statis
-------------------------------- */
.statis {
	color: var(--primary);
}

.statis .box {
	position: relative;
	overflow: hidden;
	border-radius: 3px;
    box-shadow: var(--shadow)
}

.statis .box h3:after {
	content: "";
	height: 2px;
	width: 70%;
	margin: auto;
	background-color: rgba(255, 255, 255, 0.12);
	display: block;
	margin-top: 10px;
}

.statis .box i {
	position: absolute;
	height: 70px;
	width: 70px;
	font-size: 22px;
	padding: 15px;
	top: -25px;
	left: -25px;
	background-color: rgba(255, 255, 255, 0.15);
	line-height: 60px;
	text-align: right;
	border-radius: 50%;
}

::-webkit-scrollbar {
	background: transparent;
	width: 5px;
	height: 5px;
}

::-webkit-scrollbar-thumb {
	background-color: #3c3f58;
}

::-webkit-scrollbar-thumb:hover {
	background-color: rgba(0, 0, 0, 0.3);
}
/*admin moderator*/
.tabs ul{
    display: flex;
    list-style: none;
    font-size: 1.2rem;
    font-weight: 800;
    color: var(--primary);
    
}
.tabs ul li{
    border-radius: 10px;
    padding: 8px 20px;
    margin-right: 8px;
}
.tabs ul li:hover, 
.tabs ul li.active
{
    background-color: var(--gray);
}
