.nav-admin *{
    color: #000 !important;
}
.menu li:hover{
   border-radius: 0px .6rem .6rem 0px;
}
.menu li.active{
   border-radius: 0px .6rem .6rem 0px;
}

/*THE MAGIC BEGINS HERE*/

.menu-container.admin{
   flex-direction: column;
   align-items: center;
   width: 55px;
   top: 0;
   z-index: 100000;
   padding-top: 20px ;
}
.info{
    width: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: hidden;    
}
.info.magic,
.info.show{
    visibility: visible;
    transition: visibility 0.75s cubic-bezier(0.25, 0.1, 0.25, 1.0);    
}
.menu-container.admin.show,
.menu-container.admin.magic{
    width: 260px; 
}
.info img{
    width: 5vw;
}
.info span{
    width: 90%;
    background-color: #FFF;
    height: 2px;
    border-radius: 2px;
    margin: 10px;
}
.hamburger{
    position: absolute;
    top: 15px;
    right: 10px;
}
.nav-admin .nav-link,
.nav-admin .navbar-item{
    background-color: #fff;
}
.navbar-item .active{
    color: #fff !important;
    font-weight: 900;
}
.nav-link{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-link:hover {
    background-color: #FFFFFF !important;
    color: #274C77 !important;
}
.nav-admin{
    background-color: #fff;
    padding: 3px 5px 3px 5px !important;
    border-bottom: 2px solid #9ea6b0;
}

.dropdown-menu-cus li a:hover{
    color: #fff !important;
}
.dropdown-menu-cus li:nth-last-child(1) a:hover{
    color: #ff0000 !important;
}
.dropdown-toggle::after{
    padding: 3px;
    border-top: 4px solid;
    border-right: 4px solid;
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
    transform: rotate(45deg);
}
.dash{
    background-color: var(--gray);
    border-radius: .5rem;
    overflow-x: scroll;
}
.table{
    background-color: #F5F1F1;
    border-radius: .5rem;
    overflow: hidden;
    box-shadow: var(--shadow);
}
thead tr td{
    overflow-x:scroll;
    text-align: center;
    font-weight: 800;
    word-wrap: normal;
    padding: 10px 50px !important;
}
tbody tr:hover{
    background-color: var(--bs-gray);
    color: var(--white);
}
tbody tr td{
    margin:auto;
    overflow-x:auto;
    text-align: center;
}tbody tr:hover td{
    color: var(--white)
}
tbody tr td:nth-child(1){
    font-weight: 800;
}

/********* Dashboard **********/
.wrapper {
  position: relative;
  margin-top: 3rem;
}
.dashboard-stat {
  position: relative;
  display: block;
  margin: 0 0 25px;
  overflow: hidden;
  border-radius: 4px;
}
.dashboard-stat .visual {
  display: block;
  float: right;
  padding-top: 10px;
  padding-left: 15px;
  margin-bottom: 22px;
  margin-right: 1rem;
  font-size: 2.5rem;
  line-height: 2rem;
}
.dashboard-stat .visual > i {
  margin-left: -1rem;
  margin-bottom: -1rem;
  font-size: 4rem;
  line-height: 110px;
}
.dashboard-stat .details {
  position: absolute;
  left: 2rem;
  padding-right: 1rem;
}
.dashboard-stat .details .number {
  padding-top: 25px;
  font-size: 3rem;
  line-height: 36px;
  letter-spacing: -1px;
  margin-bottom: 0;
  font-weight: 600;
}
.dashboard-stat .details .desc {
  text-transform: capitalize;
  font-size: 16px;
  letter-spacing: 0;
  font-weight: 300;
  width: 130px;
}
.navy {
  background-color: var(--light-btn);
  cursor: default;
  color: var(--white);
}.navy:hover{
    background-color: var(--primary);
    color: var(--white);
}
.gray {
  background-color: var(--gray);
  cursor: default;
  color:var(--primary);
}.gray:hover{
    background-color: var(--dark-gray);
    color:var(--primary);

}


/** --------------------------------
 -- welcome
-------------------------------- */
.sample {
	color: var(--primary);
    position: relative;
    width: 100%;
}

.sample .content {
	box-shadow: var(--shadow)
}

.sample p {
	color: var(--white);
}

/** --------------------------------
 -- Statistics
-------------------------------- */
.statistics {
	color: var(--primary);
}

.statistics .box {
	box-shadow: var(--shadow)
}

.statistics .box i {
	width: 60px;
	height: 60px;
	line-height: 60px;
}

.statistics .box p {
	color: var(--primary);
}

/** --------------------------------
 -- Charts
-------------------------------- */
.charts .chart-container {
	box-shadow: var(--shadow);
    height: 350px;
}

.charts .chart-container h3 {
	color: var(--primary)
}

/** --------------------------------
 -- statis
-------------------------------- */
.statis {
	color: var(--primary);
}

.statis .box {
	position: relative;
	overflow: hidden;
	border-radius: 3px;
    box-shadow: var(--shadow)
}

.statis .box h3:after {
	content: "";
	height: 2px;
	width: 70%;
	margin: auto;
	background-color: rgba(255, 255, 255, 0.12);
	display: block;
	margin-top: 10px;
}

.statis .box i {
	position: absolute;
	height: 70px;
	width: 70px;
	font-size: 22px;
	padding: 15px;
	top: -25px;
	left: -25px;
	background-color: rgba(255, 255, 255, 0.15);
	line-height: 60px;
	text-align: right;
	border-radius: 50%;
}

::-webkit-scrollbar {
	background: transparent;
	width: 5px;
	height: 5px;
}

::-webkit-scrollbar-thumb {
	background-color: #3c3f58;
}

::-webkit-scrollbar-thumb:hover {
	background-color: rgba(0, 0, 0, 0.3);
}
/*admin moderator*/
.tabs ul{
    display: flex;
    list-style: none;
    font-size: 1.2rem;
    font-weight: 800;
    color: var(--primary);
    
}
.tabs ul li{
    border-radius: 10px;
    padding: 8px 20px;
    margin-right: 8px;
}
.tabs ul li:hover, 
.tabs ul li.active
{
    background-color: var(--gray);
}
.btn-res{
    background-color: var(--bs-green) ;
    padding: .75rem;
    margin: .5rem;
    border-radius: 10px;
    color: var(--white);
}
.btn-res:hover{
    background-color: var(--success) ;
    color: white;
}

/*------ guidance admin ------*/


.gtab {
  color: #002F49;
  background-color: none;
}

.gtab:hover{
  color: #002F49 !important;
  background-color: #F5F1F1 !important;

}

.gtab .active {
  color: #fff !important;
  background-color: #002F49 !important;
}

.tab-pane .card .flex-item a:hover{
  background-color:  white !important;
  color: #13212B !important;
}

.table-info{
  border-spacing: 2; 
  border-collapse: collapse; 
  background:var(--light-body);
  border-radius: 10px;
  overflow:hidden;
  width:100%;
  margin: 25px auto;
  position:relative;
}

.tblGuidance {
  box-shadow: none !important;
}

.tblGuidance td th{
  color: var(--light-btn);
  height: 70px;
  text-align: center;
}
.tblGuidance thead th { 
  height:80px;
  background-color: #274C77 !important;
  font-size:16px;
  
}
.tblGuidance tbody tr {
  height:48px;
  border-bottom: 1px solid #E3F1D5 ;
}

.tbl-action {
    width: 10rem !important;
}

.gadmin {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;

  }

  .gadmin li a{
    width: 20rem !important;
    height: 20rem !important;
    /* padding: 10rem !important; */
    margin: 1rem !important;
  }

.ad-guide a{
    background: #13212B !important;
    padding: 5px;
    width: 15rem;
    height: 15rem;
    margin: .1rem !important;
    line-height: 6rem;
    color: #FFFFFF !important;
    font-weight: bold;
    font-size: 5em;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    border-radius: .5rem;
    box-shadow: 4px 6px 4px rgba(0, 0, 0, 0.25);
}

.ad-guide a:hover{
    background-color: #13212B !important;
    color: white !important;
  }

  .table-hover:hover{
    color: #FFFFFF !important;
    background-color: #002F49 !important;
  }

/* ---------------sched pick up for good moral------------------*/

.sched-pu {
  
}


/* ---------------SASD------------------*/

.table-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}.table-nav ul{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
}.table-nav li{
    margin-right: 10px;
}.table-nav a{
    padding: .7rem 1.5rem;
    font-weight: 800;
    color: var(--primary);
    border: 0
}.table-nav a:hover,
.table-nav a.active{
    background-color: #f5f1f1;
    border: 0
}

.search-container{
    float: right;
    position: relative;
    display: flex;
    align-items: baseline;
    flex-direction: row;
}.search-container input{
    padding: .4rem;
    border: solid .5px #274C77;
    border-radius: 8px;
}.search-container button{
    position: absolute;
    top: 4px;
    right: 2px;
    border: 0;
    padding: 5px;
    background: transparent;
}

/*-------- count --------*/
.count{
    background-color: #F5F1F1;
    padding: .5rem;
    border-radius: .4rem;
}


/*----------------guidance analytics------------------- */

.analyticsTbl .table {
  background-color: none !important;
}

.analyticsTbl .table th {
  background-color: #000000 !important;
  color: #FFFFFF !important;
  align-items: center;
  text-align: center;
}

.link-dark {
  color: #274C77 !important;
}
/*-------- Table style --------*/

.custom-table{
    width: 100%;
    position: relative;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
}.custom-table thead{
    background-color: var(--light-btn);
    color: white;
    text-align: center;
    border: 19px solid var(--light-btn);
    border-bottom: 15px solid white;
    border-top: 0;
}.custom-table *{
    padding: .7rem;
    overflow: hidden;
}.custom-table tbody{
    background-color: white;
    border-top: 10px solid white;
    border: 20px solid #F5F1F1;
}.custom-table tbody tr{
    border-bottom: 10px solid #F5F1F1;
    border-radius: 10px !important;
    overflow: hidden;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}.custom-table tbody tr td:first-child {
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
}.custom-table tbody tr td:last-child {
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}
::-webkit-scrollbar {
    display: none;
}
/*-------- Status --------*/
.custom-table tbody td[status]::after{
    background-color: var(--bg-status);
    padding: 3px;
    border-radius: 5px;
    color: white;
}

.custom-table tbody td[status='_isNotReturned']::after{
    --bg-status:red;
    content: 'Not Returned';
    padding-left: 1rem;
    padding-right: 1rem;
}
.custom-table tbody td[status='_isReturned']::after{
    --bg-status: green;
    content: 'Returned';
    padding-left: 2rem;
    padding-right: 2rem;
}
.custom-table tbody td[status='_isUncleared']::after{
     --bg-status:red;
    content: 'Uncleared';
    padding-left: 2rem;
    padding-right: 2rem;
}
.custom-table tbody td[status='_isCleared']::after{
    --bg-status: green;
    content: 'Cleared';
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}
.custom-table tbody td[status='_isForEval']::after{
    --bg-status: gray;
    content: 'For Evaluation';
    padding-left: 1rem;
    padding-right: 1rem;
}

}

.search-container{
    float: right;
    position: relative;
    display: flex;
    align-items: baseline;
    flex-direction: row;
}.search-container input{
    padding: .4rem;
    border: solid .5px #274C77;
    border-radius: 8px;
}.search-container button{
    position: absolute;
    top: 4px;
    right: 2px;
    border: 0;
    padding: 5px;
    background: transparent;
}

/*-------- count --------*/
.count{
    background-color: #F5F1F1;
    padding: .5rem;
    border-radius: .4rem;
}

/*-------- Table style --------*/

.custom-table{
    width: 100%;
    position: relative;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
}.custom-table thead{
    background-color: var(--light-btn);
    color: white;
    text-align: center;
    border: 19px solid var(--light-btn);
    border-bottom: 15px solid white;
    border-top: 0;
}.custom-table *{
    padding: .7rem;
    overflow: hidden;
}.custom-table tbody{
    background-color: white;
    border-top: 10px solid white;
    border: 20px solid #F5F1F1;
}.custom-table tbody tr{
    border-bottom: 10px solid #F5F1F1;
    border-radius: 10px !important;
    overflow: hidden;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}.custom-table tbody tr td:first-child {
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
}.custom-table tbody tr td:last-child {
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}
::-webkit-scrollbar {
    display: none;
}
/*-------- Status --------*/
.custom-table tbody td[status]::after{
    background-color: var(--bg-status);
    padding: 3px;
    border-radius: 5px;
    color: white;
}

.custom-table tbody td[status='_isNotReturned']::after{
    --bg-status:red;
    content: 'Not Returned';
    padding-left: 1rem;
    padding-right: 1rem;
}
.custom-table tbody td[status='_isReturned']::after{
    --bg-status: green;
    content: 'Returned';
    padding-left: 2rem;
    padding-right: 2rem;
}
.custom-table tbody td[status='_isUncleared']::after{
     --bg-status:red;
    content: 'Uncleared';
    padding-left: 2rem;
    padding-right: 2rem;
}
.custom-table tbody td[status='_isCleared']::after{
    --bg-status: green;
    content: 'Cleared';
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}
.custom-table tbody td[status='_isForEval']::after{
    --bg-status: gray;
    content: 'For Evaluation';
    padding-left: 1rem;
    padding-right: 1rem;
}

.dataTables_length label,
.dataTables_filter label{
    display: inline-flex;
    align-items: baseline;
}
.dataTables_length select,
.dataTables_filter input{
    margin: 1rem .3rem;
}
.dataTables_filter,
.dataTables_paginate{
    display: flex !important;
    justify-content: flex-end !important;
}
.pagination {
    --bs-pagination-padding-x: 0.75rem;
    --bs-pagination-padding-y: 0.375rem;
    --bs-pagination-font-size: 1rem;
    --bs-pagination-color: var(--primary);
    --bs-pagination-bg: #fff;
    --bs-pagination-border-width: 1px;
    --bs-pagination-border-color: #dee2e6;
    --bs-pagination-border-radius: 0.375rem;
    --bs-pagination-hover-color: var(--bs-link-hover-color);
    --bs-pagination-hover-bg: #e9ecef;
    --bs-pagination-hover-border-color: #dee2e6;
    --bs-pagination-focus-color: var(--bs-link-hover-color);
    --bs-pagination-focus-bg: #e9ecef;
    --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    --bs-pagination-active-color: #fff;
    --bs-pagination-active-bg: var(--primary);
    --bs-pagination-active-border-color: var(--light-btn);
    --bs-pagination-disabled-color: #6c757d;
    --bs-pagination-disabled-bg: #fff;
    --bs-pagination-disabled-border-color: #dee2e6;
    display: flex;
    padding-left: 0;
    list-style: none;
}
