

/* form */
.course-curr{
  margin-top: 3rem !important;
}
.hr{
  width: clamp(10%, 100vw, 90%) !important;
  left: 0;
}

.fa-file-circle-check, .fa-table-list{
  float: right;
} */

/*---COURSE---*/
.course-curr{
  margin-top: 3rem !important;
} 
.course-curr h1{
  color: #13212B;
  font: 900 48px 'Inter', sans-serif;
}
.course-curr p{
  font: 600 24px 'Inter', sans-serif;
  color: #13212B !important;

/*-----pdf-----*/   
}  
.pdf {
  width: 100%;
  height: 50vw;
  border: 2px solid #13212B;
  box-shadow: 4px 6px 4px rgba(0, 0, 0, 0.25);  
}
.btn-primary{
background-color: #274C77 !important;
border: 2px solid #274C77 !important;
font-weight: 700 !important;
float: right !important;
}

.btn-outline-primary{
border: 2px solid #274C77 !important;
color: #274C77 !important;
font-weight: 700 !important;
float: right !important;
}

.btn-primary:hover{
background-color: #13212B !important;
border: 2px solid #13212B !important;
}

.btn-outline-primary:hover{
background-color: #990000 !important;
border: 2px solid #990000 !important;
color: #fff !important;
}