*{
  font: 'Inter', sans-serif !important;
  margin: 0 !important;
}
.profile{
  width: 30px;
  height: 30px;
  padding: 0%;
}
.fa-sharp{
width: 1rem;
height: 1rem;
}
.nav-active{
  background-color: #598dc9;
}
.profile{
  width: 30px;
  height: 30px;
  padding: 0%;
}

.fa-sharp{
  width: 1rem;
  height: 1rem;
}

.nav-active{
background-color: #598dc9;
}
hr{
  width: clamp(10%, 100vw, 90%) !important;
  left: 0;
}
.fa-table-list{
  float: right;
}
.enrollment {
  padding-top: 5rem;
}
.enrollment h1{
  color: #13212B;
  font: 900 36px 'Inter', sans-serif;
}
.enrollment hr, p{
  color: #13212B !important;
  font: 900 18px 'Inter', sans-serif;
}
.form-field{
  margin-bottom: 5px;
  width: 100%;
  height: 65px !important;
  padding: 30px;
  border: 1px solid #000000 !important;
  border-radius: 15px !important;
}
.form-select{
  width: 100%;
  Height: 65px !important;
  padding: 20px;
  border: 1px solid #000000 !important;
  border-radius: 15px !important;
}
.btn-primary{
  max-width: 50%;
  background-color: #274C77;
  border: 2px solid #274C77;
  font-weight: 800;
  float: right;
}

.btn-outline-primary{
  border: 2px solid #274C77;
  color: #274C77;
  font-weight: 800;
  float: right;
}

.btn-primary:hover{
  background-color: #0b1fce;
  border: 2px solid #0b1fce;
}

.btn-outline-primary:hover{
  background-color: #990000;
  border: 2px solid #990000;
  color: #fff;
}
