* {
    font: 'Inter', sans-serif !important;
}             
/*-----navbar-----*/
nav {
    max-width: fit-content;
    font: 400 16px 'Inter', sans-serif;
    font-weight: bold;
    max-width: 1300px;
	  padding: 0 10px;
}
.profile{
    width: 40px;
    height: 40px;
    padding: 0%;
    border-radius: 50%;
    cursor: pointer;
    margin: auto;
}
.hr-line {
  display: flex;
}
.hr-line{
  width: 100%;
  position: relative;
  margin: 15px;
  border-bottom: 16px dotted #a4c639;
}
/*-form-*/

.form-field{
    margin-bottom: 5px;
    width: 100%;
    height: 65px !important;
    padding: 30px;
    border: 1px solid #000000 !important;
    border-radius: 15px !important;
}
.selectWrapper{
  margin: auto;
  border-radius:15px;
  overflow:hidden;
  background:#cccccc;
  border:1px solid #000000;
}
.selectBox{
  width:1090px;
  height:60px;
  border:0px;
  outline:none;
  padding-left: 25px;
}
.main .button1{
  text-decoration: none;
  font: 400 18px 'Inter', sans-serif;
  color: #fff;
  float: right; 
  padding: 10px 75px;
  background-color: #274C77;
  box-shadow: 4px 4px 4px #1e1e1e;
  border-radius: 8px;
  border: none;
  text-align: center;
  align-items: center;
}
.download:hover {
  background-color: #274C77;
  color: #fff;
}
@media screen and (max-width: 600px){
  .button2{
          display: block;
          position: relative;
          left: 25%; transform: translateX(-50%);
        }
}
.main .button2{
  text-decoration: none;
  font: 400 18px 'Inter', sans-serif;
  color: #fff;
  float: right; 
  padding: 10px 70px;
  margin-right: 20px;
  background-color: #274C77;
  box-shadow: 4px 4px 4px #1e1e1e;
  border-radius: 8px;
  border: none;
  text-align: center;
  align-items: center;
}
.cancel:hover {
  background-color: #274C77;
  color: #fff;
}