:root {
  --white: #ffffff;
  --blue: #274c77;
  --black: #13212b;
  --grey: #cdcdcb;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #f6f9ff;
  color: #444444;
}

a {
  color: var(--white);
  text-decoration: none;
}

a:hover {
  color: var(--white);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
}
/* Light Backgrounds */
.bg-primary-light {
  background-color: #cfe2ff;
  border-color: #cfe2ff;
}

.bg-secondary-light {
  background-color: #e2e3e5;
  border-color: #e2e3e5;
}

.bg-success-light {
  background-color: #d1e7dd;
  border-color: #d1e7dd;
}

.bg-danger-light {
  background-color: #f8d7da;
  border-color: #f8d7da;
}

.bg-warning-light {
  background-color: #fff3cd;
  border-color: #fff3cd;
}

.bg-info-light {
  background-color: #cff4fc;
  border-color: #cff4fc;
}

.bg-dark-light {
  background-color: #d3d3d4;
  border-color: #d3d3d4;
}
/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
#main {
  margin-top: 60px;
  padding: 10px 20px;
  transition: all 0.3s;
}

@media (max-width: 1199px) {
  #main {
    padding: 20px;
  }
}
/*--------------------------------------------------------------
# Page Title
--------------------------------------------------------------*/
.pagetitle {
  margin-bottom: 10px;
}

.pagetitle h1 {
  font-size: 24px;
  margin-bottom: 0;
  font-weight: 600;
  color: #012970;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: var(--blue);
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: var(--black);
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Override some default Bootstrap stylings
--------------------------------------------------------------*/
/* Dropdown menus */
.dropdown-menu {
  border-radius: 4px;
  padding: 10px 0;
  -webkit-animation-name: dropdown-animate;
  animation-name: dropdown-animate;
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  border: 0;
  box-shadow: 0 5px 30px 0 rgba(82, 63, 105, 0.2);
}

.dropdown-menu .dropdown-header,
.dropdown-menu .dropdown-footer {
  text-align: center;
  font-size: 15px;
  padding: 10px 25px;
}

.dropdown-menu .dropdown-footer a {
  color: #444444;
  text-decoration: underline;
}

.dropdown-menu .dropdown-footer a:hover {
  text-decoration: none;
}

.dropdown-menu .dropdown-divider {
  color: #a5c5fe;
  margin: 0;
}

.dropdown-menu .dropdown-item {
  font-size: 14px;
  padding: 10px 15px;
  transition: 0.3s;
}

.dropdown-menu .dropdown-item i {
  margin-right: 10px;
  font-size: 18px;
  line-height: 0;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #f6f9ff;
}

@media (min-width: 768px) {
  .dropdown-menu-arrow::before {
    content: "";
    width: 13px;
    height: 13px;
    background: #fff;
    position: absolute;
    top: -7px;
    right: 20px;
    transform: rotate(45deg);
    border-top: 1px solid #eaedf1;
    border-left: 1px solid #eaedf1;
  }
}

@-webkit-keyframes dropdown-animate {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

  0% {
    opacity: 0;
  }
}

@keyframes dropdown-animate {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

  0% {
    opacity: 0;
  }
}





/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.logo {
  line-height: 1;
}

@media (min-width: 1200px) {
  .logo {
    width: 280px;
  }
}

.logo img {
  max-height: 26px;
  margin-right: 6px;
}

.logo span {
  font-size: 18px;
  font-weight: 700;
  color: var(--white);
  font-family: "Nunito", sans-serif;
}

.header {
  transition: all 0.5s;
  z-index: 997;
  height: 60px;
  box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
  background-color: var(--blue) ;
  padding-left: 20px;
  /* Toggle Sidebar Button */
  /* Search Bar */
}

.header .toggle-sidebar-btn {
  font-size: 32px;
  padding-right: 10px;
  cursor: pointer;
  color: #ffffff;
}

/*--------------------------------------------------------------
# Header Nav
--------------------------------------------------------------*/
.header-nav ul {
  list-style: none;
}

.header-nav>ul {
  margin: 0;
  padding: 0;
}
.nav-link{
  margin-right: 10px;
  padding-left:20px;
  padding-right:20px;
  font-size: 18px;
  font-weight: 700;
  color: var(--white);
  font-family: "Nunito", sans-serif;
}
.nav-link:hover {
  color: var(--blue);
  background-color: var(--white);
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0,0,0,.2);
  border-radius: 2px; 
  line-height: 40PX;
}
.header-nav .nav-profile {
  color: var(--white);
}

.header-nav .nav-profile img {
  max-height: 36px;
}

.header-nav .nav-profile span {
  font-size: 18px;
  font-weight: 600;
}




.header-nav .profile {
  min-width: 240px;
  padding-bottom: 0;
  top: 8px !important;
}



.header-nav .profile .dropdown-item {
  font-size: 14px;
  padding: 10px 15px;
  transition: 0.3s;
}

.header-nav .profile .dropdown-item i {
  margin-right: 10px;
  font-size: 18px;
  line-height: 0;
}

.header-nav .profile .dropdown-item:hover {
  background-color: var(--white);
}

/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/
.sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  width: 280px;
  z-index: 996;
  transition: all 0.3s;
  padding: 20px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #aab7cf transparent;
  box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
  background-color: var(--white);
}

@media (max-width: 1199px) {
  .sidebar {
    left: -300px;
  }
}

.sidebar::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #fff;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #aab7cf;
}

@media (min-width: 1200px) {

  #main,
  #footer {
    margin-left: 300px;
  }
}

@media (max-width: 1199px) {
  .toggle-sidebar .sidebar {
    left: 0;
  }
}

@media (min-width: 1200px) {

  .toggle-sidebar #main,
  .toggle-sidebar #footer {
    margin-left: 0;
  }

  .toggle-sidebar .sidebar {
    left: -300px;
  }
}

.sidebar-nav {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav .nav-item {
  margin-bottom: 5px;
}

.sidebar-nav .nav-heading {
  font-size: 11px;
  text-transform: uppercase;
  color: #899bbd;
  font-weight: 600;
  margin: 10px 0 5px 15px;
}

.sidebar-nav .nav-link {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  color: #4154f1;
  transition: 0.3;
  background: #f6f9ff;
  padding: 10px 15px;
  border-radius: 4px;
}

.sidebar-nav .nav-link i {
  font-size: 16px;
  margin-right: 10px;
  color: #4154f1;
}

.sidebar-nav .nav-link.collapsed {
  color: #012970;
  background: #fff;
}

.sidebar-nav .nav-link.collapsed i {
  color: #899bbd;
}

.sidebar-nav .nav-link:hover {
  color: var(--white);
  background: var(--blue);
}

.sidebar-nav .nav-link:hover i {
  color: var(--white);
}

.sidebar-nav .nav-link .bi-chevron-down {
  margin-right: 0;
  transition: transform 0.2s ease-in-out;
}

.sidebar-nav .nav-link:not(.collapsed) .bi-chevron-down {
  transform: rotate(180deg);
}

.sidebar-nav .nav-content {
  padding: 5px 0 0 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav .nav-content a {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  color: #012970;
  transition: 0.3;
  padding: 10px 0 10px 40px;
  transition: 0.3s;
}

.sidebar-nav .nav-content a i {
  font-size: 6px;
  margin-right: 8px;
  line-height: 0;
  border-radius: 50%;
}

.sidebar-nav .nav-content a:hover,
.sidebar-nav .nav-content a.active {
  color: #4154f1;
}

.sidebar-nav .nav-content a.active i {
  background-color: #4154f1;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.search-form input {
  border: 0;
  font-size: 14px;
  color: #012970;
  border: 1px solid rgba(1, 41, 112, 0.2);
  padding: 7px 38px 7px 8px;
  border-radius: 3px;
  transition: 0.3s;
  width: 100%;
}

 .search-form input:focus,
 .search-form input:hover {
  outline: none;
  box-shadow: 0 0 10px 0 rgba(1, 41, 112, 0.15);
  border: 1px solid rgba(1, 41, 112, 0.3);
}

 .search-form button {
  border: 0;
  padding: 0;
  margin-left: -30px;
  background: none;
}

 .search-form button i {
  color: #012970;
}
.list-group-item img{
  width: 30px;
  height: 30px;
}
.list-group-item h5{
  color: var(--blue);

}
.list-group-item p{
  font-weight: 700;
  color: var(--blue);

}
.list-group-item small{
  color: var(--blue);

}
 
.list-group-item-action{
  background-color: var(--white);
}
.list-group-item-action:hover{
  background-color: var(--grey) !important;
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

@media (max-width: 991px) {
  .inbox-wrapper .email-aside .aside-content .aside-header .navbar-toggle {
      display: block;
  }
}

.inbox-wrapper .email-aside .aside-content .aside-header .navbar-toggle .icon {
  font-size: 24px;
  color: #71738d;
}

.inbox-wrapper .email-aside .aside-content .aside-compose {
  text-align: center;
  padding: 14px 0;
}

.inbox-wrapper .email-aside .aside-content .aside-compose .btn,
.inbox-wrapper .email-aside .aside-content .aside-compose .fc .fc-button,
.fc .inbox-wrapper .email-aside .aside-content .aside-compose .fc-button,
.inbox-wrapper .email-aside .aside-content .aside-compose .swal2-modal .swal2-actions button,
.swal2-modal .swal2-actions .inbox-wrapper .email-aside .aside-content .aside-compose button,
.inbox-wrapper .email-aside .aside-content .aside-compose .wizard > .actions a,
.wizard > .actions .inbox-wrapper .email-aside .aside-content .aside-compose a {
  padding: 11px;
}

.inbox-wrapper .email-aside .aside-content .aside-nav {
  visibility: visible;
  padding: 0 0;
}

.inbox-wrapper .email-aside .aside-content .aside-nav.collapse {
  display: block;
}



.inbox-wrapper .email-aside .aside-content .aside-nav .title {
  display: block;
  color: #3d405c;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px 0 0;
  padding: 8px 14px 4px;
}

.inbox-wrapper .email-aside .aside-content .aside-nav .nav li {
  width: 100%;
}

.inbox-wrapper .email-aside .aside-content .aside-nav .nav li a {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  position: relative;
  color: #71748d;
  padding: 7px 14px;
}

.inbox-wrapper .email-aside .aside-content .aside-nav .nav li a:hover {
  text-decoration: none;
  background-color: rgba(114, 124, 245, 0.1);
  color: #727cf5;
}

.inbox-wrapper .email-aside .aside-content .aside-nav .nav li a .icon svg {
  width: 18px;
  margin-right: 10px;
}

.inbox-wrapper .email-aside .aside-content .aside-nav .nav li a .badge {
  margin-left: auto;
}

.inbox-wrapper .email-aside .aside-content .aside-nav .nav li a svg {
  width: 18px;
  margin-right: 10px;
}

.inbox-wrapper .email-aside .aside-content .aside-nav .nav li.active a {
  color: #ff3366;
  background: rgba(255, 51, 102, 0.1);
}

.inbox-wrapper .email-aside .aside-content .aside-nav .nav li.active a .icon {
  color: #ff3366;
}

.inbox-wrapper .email-content .email-inbox-header {
  background-color: transparent;
  padding: 18px 18px;
}

.inbox-wrapper .email-content .email-inbox-header .email-title {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  font-size: 1rem;
}

.inbox-wrapper .email-content .email-inbox-header .email-title svg {
  width: 20px;
  margin-right: 10px;
  color: #686868;
}

.inbox-wrapper .email-content .email-inbox-header .email-title .new-messages {
  font-size: .875rem;
  color: #686868;
  margin-left: 3px;
}

.inbox-wrapper .email-content .email-inbox-header .input-search .input-group-btn .btn,
.inbox-wrapper .email-content .email-inbox-header .input-search .input-group-btn .fc .fc-button,
.fc .inbox-wrapper .email-content .email-inbox-header .input-search .input-group-btn .fc-button,
.inbox-wrapper .email-content .email-inbox-header .input-search .input-group-btn .swal2-modal .swal2-actions button,
.swal2-modal .swal2-actions .inbox-wrapper .email-content .email-inbox-header .input-search .input-group-btn button,
.inbox-wrapper .email-content .email-inbox-header .input-search .input-group-btn .wizard > .actions a,
.wizard > .actions .inbox-wrapper .email-content .email-inbox-header .input-search .input-group-btn a {
  border-radius: 0;
  padding: 4.5px 10px;
}

.inbox-wrapper .email-content .email-inbox-header .input-search .input-group-btn .btn svg,
.inbox-wrapper .email-content .email-inbox-header .input-search .input-group-btn .fc .fc-button svg,
.fc .inbox-wrapper .email-content .email-inbox-header .input-search .input-group-btn .fc-button svg,
.inbox-wrapper .email-content .email-inbox-header .input-search .input-group-btn .swal2-modal .swal2-actions button svg,
.swal2-modal .swal2-actions .inbox-wrapper .email-content .email-inbox-header .input-search .input-group-btn button svg,
.inbox-wrapper .email-content .email-inbox-header .input-search .input-group-btn .wizard > .actions a svg,
.wizard > .actions .inbox-wrapper .email-content .email-inbox-header .input-search .input-group-btn a svg {
  width: 18px;
}

.inbox-wrapper .email-content .email-filters {
  padding: 20px;
  border-bottom: 1px solid #e8ebf1;
  background-color: transparent;
  width: 100%;
  border-top: 1px solid #e8ebf1;
}

.inbox-wrapper .email-content .email-filters > div {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

.inbox-wrapper .email-content .email-filters .email-filters-left .btn-group,
.inbox-wrapper .email-content .email-filters .email-filters-left .fc .fc-toolbar.fc-header-toolbar .fc-left .fc-button-group,
.fc .fc-toolbar.fc-header-toolbar .fc-left .inbox-wrapper .email-content .email-filters .email-filters-left .fc-button-group,
.inbox-wrapper .email-content .email-filters .email-filters-left .fc .fc-toolbar.fc-header-toolbar .fc-right .fc-button-group,
.fc .fc-toolbar.fc-header-toolbar .fc-right .inbox-wrapper .email-content .email-filters .email-filters-left .fc-button-group {
  margin-right: 5px;
}

.inbox-wrapper .email-content .email-filters .email-filters-left input {
  margin-right: 8px;
}

.inbox-wrapper .email-content .email-filters .email-filters-right {
  text-align: right;
}

@media (max-width: 767px) {
  .inbox-wrapper .email-content .email-filters .email-filters-right {
      width: 100%;
      display: flex;
      justify-content: space-between;
  }
}

.inbox-wrapper .email-content .email-filters .email-filters-right .email-pagination-indicator {
  display: inline-block;
  vertical-align: middle;
  margin-right: 13px;
}

.inbox-wrapper .email-content .email-filters .email-filters-right .email-pagination-nav .btn svg,
.inbox-wrapper .email-content .email-filters .email-filters-right .email-pagination-nav .fc .fc-button svg,
.fc .inbox-wrapper .email-content .email-filters .email-filters-right .email-pagination-nav .fc-button svg,
.inbox-wrapper .email-content .email-filters .email-filters-right .email-pagination-nav .swal2-modal .swal2-actions button svg,
.swal2-modal .swal2-actions .inbox-wrapper .email-content .email-filters .email-filters-right .email-pagination-nav button svg,
.inbox-wrapper .email-content .email-filters .email-filters-right .email-pagination-nav .wizard > .actions a svg,
.wizard > .actions .inbox-wrapper .email-content .email-filters .email-filters-right .email-pagination-nav a svg {
  width: 18px;
}

.inbox-wrapper .email-content .email-filters .be-select-all.custom-checkbox {
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  margin: 0 30px 0 0;
}

.inbox-wrapper .email-content .email-list .email-list-item {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  border-bottom: 1px solid #e8ebf1;
  padding: 10px 20px;
  width: 100%;
  cursor: pointer;
  position: relative;
  font-size: 14px;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

.inbox-wrapper .email-content .email-list .email-list-item:hover {
  background: rgba(114, 124, 245, 0.08);
}

.inbox-wrapper .email-content .email-list .email-list-item:last-child {
  margin-bottom: 5px;
}

.inbox-wrapper .email-content .email-list .email-list-item .email-list-actions {
  width: 40px;
  vertical-align: top;
  display: table-cell;
}

.inbox-wrapper .email-content .email-list .email-list-item .email-list-actions .form-check {
  margin-bottom: 0;
}

.inbox-wrapper .email-content .email-list .email-list-item .email-list-actions .form-check i::before {
  width: 15px;
  height: 15px;
}

.inbox-wrapper .email-content .email-list .email-list-item .email-list-actions .form-check i::after {
  font-size: .8rem;
}

.inbox-wrapper .email-content .email-list .email-list-item .email-list-actions .favorite {
  display: block;
  padding-left: 1px;
  line-height: 15px;
}

.inbox-wrapper .email-content .email-list .email-list-item .email-list-actions .favorite span svg {
  width: 14px;
  color: #686868;
}

.inbox-wrapper .email-content .email-list .email-list-item .email-list-actions .favorite:hover span {
  color: #8d8d8d;
}

.inbox-wrapper .email-content .email-list .email-list-item .email-list-actions .favorite.active span svg {
  color: #fbbc06;
}

.inbox-wrapper .email-content .email-list .email-list-item .email-list-detail {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.inbox-wrapper .email-content .email-list .email-list-item .email-list-detail .from {
  display: block;
  font-weight: 400;
  margin: 0 0 1px 0;
  color: #000;
}

.inbox-wrapper .email-content .email-list .email-list-item .email-list-detail .msg {
  margin: 0;
  color: #71738d;
  font-size: .8rem;
}

.inbox-wrapper .email-content .email-list .email-list-item .email-list-detail .date {
  color: #000;
}

.inbox-wrapper .email-content .email-list .email-list-item .email-list-detail .date .icon svg {
  width: 14px;
  margin-right: 7px;
  color: #3d405c;
}

.inbox-wrapper .email-content .email-list .email-list-item.email-list-item--unread {
  background-color: rgba(114, 124, 245, 0.09);
}

.inbox-wrapper .email-content .email-list .email-list-item.email-list-item--unread .from {
  color: #000;
  font-weight: 800;
}

.inbox-wrapper .email-content .email-list .email-list-item.email-list-item--unread .msg {
  font-weight: 700;
  color: #686868;
}

.rtl .inbox-wrapper .email-aside .aside-content .aside-header .navbar-toggle .icon {
  position: absolute;
  top: 0;
  left: 0;
}

.rtl .inbox-wrapper .email-aside .aside-content .aside-nav .nav {
  padding-right: 0;
}

.rtl .inbox-wrapper .email-aside .aside-content .aside-nav .nav li a .icon svg {
  margin-right: 0;
  margin-left: 10px;
}

.rtl .inbox-wrapper .email-aside .aside-content .aside-nav .nav li a .badge {
  margin-left: 0;
  margin-right: auto;
}

.rtl .inbox-wrapper .email-aside .aside-content .aside-nav .nav li a svg {
  margin-right: 0;
  margin-left: 10px;
}

.rtl .inbox-wrapper .email-content .email-inbox-header .email-title svg {
  margin-right: 0;
  margin-left: 10px;
}

.rtl .inbox-wrapper .email-content .email-inbox-header .email-title .new-messages {
  margin-left: 0;
  margin-right: 3px;
}

.rtl .inbox-wrapper .email-content .email-filters .email-pagination-indicator {
  margin-right: 0;
  margin-left: 13px;
}

.rtl .inbox-wrapper .email-content .email-list .email-list-item .email-list-detail .date .icon svg {
  margin-right: 0;
  margin-left: 7px;
}

.email-head {
  background-color: transparent;
}

.email-head-subject {
  padding: 25px 25px;
  border-bottom: 1px solid #e8ebf1;
}

@media (max-width: 767px) {
  .email-head-subject {
      padding: 25px 10px;
  }
}

.email-head-subject .title {
  display: block;
  font-size: .99rem;
}

.email-head-subject .title a.active .icon {
  color: #fbbc06;
}

.email-head-subject .title a .icon {
  color: silver;
  margin-right: 6px;
}

.email-head-subject .title a .icon svg {
  width: 18px;
}

.email-head-subject .icons {
  font-size: 14px;
  float: right;
}

.email-head-subject .icons .icon {
  color: #000;
  margin-left: 12px;
}

.email-head-subject .icons .icon svg {
  width: 18px;
}

.email-head-sender {
  padding: 13px 25px;
}

@media (max-width: 767px) {
  .email-head-sender {
      padding: 25px 10px;
  }
}

.email-head-sender .avatar {
  float: left;
  margin-right: 10px;
}

.email-head-sender .date {
  float: right;
  font-size: 12px;
}

.email-head-sender .avatar {
  float: left;
  margin-right: 10px;
}

.email-head-sender .avatar img {
  width: 36px;
}

.email-head-sender .sender > a {
  color: #000;
}

.email-head-sender .sender span {
  margin-right: 5px;
  margin-left: 5px;
}

.email-head-sender .sender .actions {
  display: inline-block;
  position: relative;
}

.email-head-sender .sender .actions .icon {
  color: #686868;
  margin-left: 7px;
}

.email-head-sender .sender .actions .icon svg {
  width: 18px;
}

.email-body {
  background-color: transparent;
  border-top: 1px solid #e8ebf1;
  padding: 30px 28px;
}

@media (max-width: 767px) {
  .email-body {
      padding: 30px 10px;
  }
}

.email-attachments {
  background-color: transparent;
  padding: 25px 28px 5px;
  border-top: 1px solid #e8ebf1;
}

@media (max-width: 767px) {
  .email-attachments {
      padding: 25px 10px 0;
  }
}

.email-attachments .title {
  display: block;
  font-weight: 500;
}

.email-attachments .title span {
  font-weight: 400;
}

.email-attachments ul {
  list-style: none;
  margin: 15px 0 0;
  padding: 0;
}

.email-attachments ul > li {
  margin-bottom: 5px;
}

.email-attachments ul > li:last-child {
  margin-bottom: 0;
}

.email-attachments ul > li a {
  color: #000;
}

.email-attachments ul > li a svg {
  width: 18px;
  color: #686868;
}

.email-attachments ul > li .icon {
  color: #737373;
  margin-right: 2px;
}

.email-attachments ul > li span {
  font-weight: 400;
}

.rtl .email-head-subject .title a .icon {
  margin-right: 0;
  margin-left: 6px;
}

.rtl .email-head-subject .icons .icon {
  margin-left: 0;
  margin-right: 12px;
}

.rtl .email-head-sender .avatar {
  margin-right: 0;
  margin-left: 10px;
}

.rtl .email-head-sender .sender .actions .icon {
  margin-left: 0;
  margin-right: 7px;
}

.email-head-title {
  padding: 15px;
  border-bottom: 1px solid #e8ebf1;
  font-weight: 400;
  color: #3d405c;
  font-size: .99rem;
}

.email-head-title .icon {
  color: #696969;
  margin-right: 12px;
  vertical-align: middle;
  line-height: 31px;
  position: relative;
  top: -1px;
  float: left;
  font-size: 1.538rem;
}

.email-compose-fields {
  background-color: transparent;
  padding: 20px 15px;
}

.email-compose-fields .select2-container--default .select2-selection--multiple .select2-selection__rendered {
  margin: -2px -14px;
}

.email-compose-fields .select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
  border-radius: 0;
  background: #727cf5;
  color: #ffffff;
  margin-top: 0px;
  padding: 4px 10px;
  font-size: 13px;
  border: 0;
}

.email-compose-fields .select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-selection__choice span {
  color: #ffffff;
}

.email-compose-fields .select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-search {
  line-height: 15px;
}

.form-group.row {
  margin-bottom: 0;
  padding: 12px 0;
}

.form-group.row label {
  white-space: nowrap;
}

.email-compose-fields label {
  padding-top: 6px;
}

.email.editor {
  background-color: transparent;
}

.email.editor .editor-statusbar {
  display: none;
}

.email.action-send {
  padding: 8px 0px 0;
}

.btn-space {
  margin-right: 5px;
  margin-bottom: 5px;
}

.breadcrumb {
  margin: 0;
  background-color: transparent;
}

.rtl .email-compose-fields .select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
  float: right;
}

.rtl .btn-space {
  margin-right: 0;
  margin-left: 5px;
}
.card {
  box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
  -webkit-box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
  -moz-box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
  -ms-box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #f2f4f9;
  border-radius: 0.25rem;
}
.badge {
  padding: 6px 5px 3px;
}
.text-white {
  color: #ffffff !important;
}
.font-weight-bold {
  font-weight: 700 !important;
}
.float-right {
  float: right !important;
}
.badge-danger-muted {
  color: #212529;
  background-color: #f77eb9;
}