.doc{
    width: 5rem !important;
    height: 5rem !important;
}

.request-form h1{
  color: #13212B;
  font: 900 48px 'Inter', sans-serif;
}

.request-form hr, p{
  color: #13212B !important;
}

.btn-primary{
  background-color: #274C77 !important;
  border: 2px solid #274C77 !important;
  font-weight: 700 !important;
  float: right !important;
}

.btn-outline-primary{
  border: 2px solid #274C77 !important;
  color: #274C77 !important;
  font-weight: 700 !important;
  float: right !important;
}

.btn-primary:hover{
  background-color: #13212B !important;
  border: 2px solid #13212B !important;
}

.btn-outline-primary:hover{
  background-color: #990000 !important;
  border: 2px solid #990000 !important;
  color: #fff !important;
}

/* request status */



.stat, .req, .grade, .edit-prof{
  margin-top: 3rem !important;
}

.stat h1{
  color: #13212B;
  font: 900 48px 'Inter', sans-serif;
}

.stat hr{
  color: #13212B !important;
}

.req-link{
  color: #002F49 !important;

}


.req-table .active {
  background-color: #F5F1F1 !important;
}



.nav-tabs{
  --bs-nav-tabs-link-active-bg: #F5F1F1;
}

.table-stat th, td {
  background-color: #F5F1F1;
  padding: 1.5rem 2.5rem !important;
}

th, td {
  background-color: #F5F1F1 !important;
  color: #002F49;
}

.req-display {
  width: 80%;
}

.req-display td {
  padding-left: 7rem !important;
  font-size: 22px;
}

.req-display tbody {
  padding: 5rem !important;
}

.req-display .top {
  padding-top: 3rem !important;
}

.req-display .bottom {
  padding-bottom: 3rem !important;
}

/* .nav-pills .nav-item .nav-link {
  color: #13212B;
} */

.nav-pills .nav-item .nav-link .active {
  color: #fff !important;
  background-color: #002F49;
}

.nav-pills{
  --bs-nav-pills-link-active-color: #fff !important;
  --bs-nav-pills-link-active-bg: #002F49 !important;
  --bs-nav-pills-border-radius: 50px;
  color: #13212B;
}

/* gradeslip */

.gradeslip p{
  font: 600 24px 'Inter', sans-serif;
  color: #13212B !important;
}

.pdf {
  width: 100%;
  height: 50vw;
  border: 2px solid #13212B;
  box-shadow: 4px 6px 4px rgba(0, 0, 0, 0.25);
}



/* request status */


.stat, .req, .grade{
  margin-top: 3rem !important;
}

.stat h1{
  color: #13212B;
  font: 900 48px 'Inter', sans-serif;
}

.stat hr{
  color: #13212B !important;
}



.table-stat th, td {
  padding: 1.5rem 2.5rem !important;
}

.table-stat th {
  background-color: #F5F1F1 !important;
}


/* -----edit profile---- */
.profile-pic img{
  width: 12rem;
  height: 12rem;
  border: 1px solid #000000;
}

/*-----------guidance----------*/

.g1 li .lcon p {
  color: #8A8A8A !important; 
}

.g1 li a{
  width: 20rem !important;
  height: 26rem !important;
}

.card {
  background-color: #F7F7F7 !important;
}

/*-----------counsellor and staffs-------------*/

.text-blk {
  margin: 0px;
  line-height: 20px;
}

.responsive-cell-block {
  min-height: 75px;
}

.responsive-container-block {
  min-height: 75px;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-evenly;
}

.img-wrapper {
  width: 90%;
}

.team-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-media-links {
  width: 125px;
  display: flex;
  justify-content: space-between;
}

.name {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 5px;
  color: #002F49;
}

.position {
  font-size: 25px;
  margin-bottom: 50px;
}

.team-img {
  width: 100%;
  height: 100%;
}

.team-card-container {
  width: 280px;
  margin: 0 0 40px 0;
}

@media (max-width: 500px) {
  .outer-container {
    padding: 10px 20px 10px 20px;
  }

  .section-head-text {
    text-align: center;
  }
}

/*------------gcu contact--------------*/

.gcu-contact ul{
  list-style: none;
  margin: 0 2rem 0 2rem;
}

.gcu-contact li {
  padding: .5rem;
}

.gcu-contact ul li p {
  color: #fff !important;
}

.gcu-contact {
  background-color: #274C77;
}

.hr {
  opacity: 100% !important;
}

.gcu-contact i {
  width: 2rem;
  height: 2rem;
}

.gcu-contact span {
  padding: 0 1rem 0 1rem;
}

.cno li{
  padding: 0 !important;
  line-height: 1.5rem !important;
}

.cno span{
  padding: 0 3rem 0 1rem !important;
}


.main-heading{
  margin-top: 3rem !important;
}

.main-heading h1{
  color: #13212B;
  font: 900 48px 'Inter', sans-serif;

}
.main-heading p{
  font: 600 24px 'Inter', sans-serif;

}
.hr{
  width: clamp(10%, 100vw, 90%) !important;
  left: 0;
}

.fa-file-circle-check, .fa-book-open, .fa-table-list, .fa-memo-circle-check{
  float: right;
}

.gtab {
  color: #002F49;
  background-color: none;
}

.gtab:hover{
  color: #002F49 !important;
  background-color: #F5F1F1 !important;

}

.gtab .active {
  color: #fff !important;
  background-color: #002F49 !important;
}

.tab-pane .card .flex-item a:hover{
  background-color:  white !important;
  color: #13212B !important;
}

.table-info{
  border-spacing: 2; 
  border-collapse: collapse; 
  background:var(--light-body);
  border-radius: 10px;
  overflow:hidden;
  width:100%;
  margin: 25px auto;
  position:relative;
}

.pen-rec td,th{
  color: var(--light-btn);
  height: 70px;
  text-align: center;
}
.pen-rec thead th { 
  height:80px;
  background-color: #274C77 !important;
  font-size:16px;
}
.pen-rec tbody tr {
  height:48px;
  border-bottom: 1px solid #E3F1D5 ;
}
