@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800;900&display=swap');
:root {
    --dark-text: #f8fbff;
    --light-body: #f3f8fe;
    --light-main: #fdfdfd;
    --light-second: #c3c2c8;
    --light-hover: #f0f0f0;
    --light-text: #151426;
    --light-btn: #274C77;
    --blue: #0000ff;
    --white: #fff;
    --black: #000;
    --primary: #13212B;
    --gray: #F5F5F5;
    --shadow: 4px 6px 4px rgba(0, 0, 0, 0.25);
  }
*{
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}
hr{
    margin-top: 50px;
    border-top: 3px solid;
    opacity: .50;
}
.headline{
    position: relative;
    width: 100%;
    border-bottom: 2px solid var(--primary);
}
.headline i{
    position: absolute;
    right: -3px;
    bottom: -25px;
    background-color: var(--white);
}
.container-fluid{
  --bs-gutter-x: 0.5rem;
}
/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
#inbox {
  padding: 10px 20px;
  transition: all 0.3s;
}

@media (max-width: 1199px) {
  #inbox {
    padding: 20px;
  }
  #trash_btn{
    margin: 5px;
  }
  #starred_btn{
    margin: 5px;
  }
}
#main {
  padding: 50px 20px;
  transition: all 0.3s;
}

@media (max-width: 1199px) {
  #main {
    padding: 20px;
  }
  #trash_btn{
    margin: 5px;
  }
  #starred_btn{
    margin: 5px;
  }
}
/*Pre loader*/
.glass_hour {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-47%);
}

.glass_hour::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 800;
  content: "\f251";
  font-size: 45px;
  display: inline-block;
  animation:
  spin 3s ease-out infinite,
  tick 3s cubic-bezier(.8,0,.2,1) infinite;
}

@keyframes tick {
 100% {
  content: "\f253";
 }
 70% {
  content: "\f252";
 }
 0% {
  content: "\f251";
 }
}

@keyframes spin {
 0% {
  transform: rotate(0deg);
 }
 90% {
  transform: rotate(0deg);
 }
 100% {
  transform: rotate(-180deg);
 }
}

.loader-container {
 display: flex;
 justify-content: center;
 align-items: center;
}

@-moz-keyframes refreshing-loader {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes refreshing-loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes refreshing-loader {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* :not(:required) hides this rule from IE9 and below */
.refreshing-loader:not(:required) {
  -moz-animation: refreshing-loader 1000ms infinite linear;
  -webkit-animation: refreshing-loader 1000ms infinite linear;
  animation: refreshing-loader 1000ms infinite linear;
  -moz-border-radius: 3.4em;
  -webkit-border-radius: 3.4em;
  border-radius: 3.4em;
  border: 7px solid #000;
  border-left-color: transparent;
  color: transparent;
  display: inline-block;
  font-size: 16px;
  line-height: 1.2;
  width: 5em;
  height: 5em;
  text-indent: 100%;
  border-top: 7px dotted #000;
}
.refreshing-loader:not(:required):after {
  display: block ;
  border: 7px solid transparent;
  border-top-color: #000;
  border-left-color: #000;
  content: '';
  width: 0;
  height: 0;
  overflow: hidden;
  margin-left: 0em;
  margin-top: 2em;
}
/*Pre loader*/


section{
    padding-bottom: 50px;
    position: relative;
}
h1{
  font-weight: 700;
  color: #13212B;
}
.qoute span{
  font-size: clamp(2vw,400px,11vw);
  font-weight: 900;
}
.qoute span:nth-child(3),
.qoute span:nth-child(5){
  color: #CDCDCB;
}
.qoute span:nth-child(1),
.qoute span:nth-child(2),
.qoute span:nth-child(4),
.qoute span:nth-child(6){
  color: #FFF;
}
.qoute p{

}

/*---------- BUTTONS -------------*/
.btn-sub-1{
  border: 2px solid #274C77;
  background-color: #274C77;
  color: #FFFFFF;
}
.btn-sub-1:hover{
  border: 2px solid #13212B;
  background-color: #13212B;
  color: #FFFFFF;
}
.btn-sub-2{
  border: 2px solid #274C77;
  color: #274C77;
}
.btn-sub-2:hover{
  background-color: #13212B;
  color: #FFFFFF;
}
.btn-sub-3{
  background-color: #274C77;
  color: #FFFFFF;
}
.btn-sub-3:hover{
  background-color: #879DAC;
  color: #FFFFFF;
}
.btn-shadow{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.52);
  border-radius: 10px;
}
.btn-cus{
  width: 45%;
}
.btn-start{
  width: 30%;
}

/*---------- DASHBOARD ------------*/
.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
}
.flex-item a{
  background: #FFFFFF;
  padding: 5px;
  width: 15rem;
  height: 15rem;
  margin: 1rem;
  line-height: 150px;
  color: #13212B;
  font-weight: bold;
  font-size: 5em;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  border-radius: .5rem;
  box-shadow: 4px 6px 4px rgba(0, 0, 0, 0.25);
}
.flex-item a:hover{
  background-color: #13212B;
  color: white !important;
}
.flex-item a:hover img{
  filter: invert(100%) grayscale(100%);
}
.carousel-control-next-icon, .carousel-control-prev-icon{
  filter: invert(100%);
}
/*---------- Carousel ------------*/
#dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#dashboard li {
  list-style-type: none;
}
#dashboard .flex-item a{
  background: #FFFFFF;
  padding: 5px;
  width: 15rem;
  height: 15rem;
  margin: 2rem;
  line-height: 30px;
  color: #13212B;
  font-weight: bold;
  font-size: 5em;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: .5rem;
  box-shadow: 4px 6px 4px rgba(0, 0, 0, 0.25);
}
#dashboard .flex-item span{
  color: #13212B;
  font-weight: bold;
  font-size: 30px;
}
#dashboard .flex-item:hover a{
  transition-timing-function: linear;
  transition: 0.2s;
  background-color: #13212B !important;
  color: white !important;
}
#dashboard .flex-item:hover span{
  transition: 0.2s;
  transition-timing-function: linear;
  color: #fff !important;
  font-weight: bold;
}
/*---------- Carousel ------------*/

/*---------- Carousel ------------*/
#landing-carousel{
    position: relative;
    height: 728px;
    overflow: hidden;
}
.carousel-cus,
.carousel-inner{
  height: -webkit-fill-available;
}
.opacity{
    background: rgba(39, 76, 119, 0.49);
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 100;
}
@media (max-width: 1460px) {
    #landing-carousel{
        height: auto;
    }
    .opacity * .btn-start{
        width: 300px;
    }
    .opacity * h3{
        width: 100% !important;
    }
}
@media (max-width: 570px) {
    #landing-carousel{
        height: auto;
    }
    .opacity{
        position: relative;
        background: #13212B;
        padding: 10px;
    }
    .opacity * .btn-start{
        width: 250px;
    }
    
}
.carousel-control-next-icon, .carousel-control-prev-icon{
  filter: invert(100%);
}
.img-icon{
  width: 9rem;
  display: flex;
  justify-self: center;
}
/*------------- Login Form ---------------*/
#student_login .modal-dialog{
    --bs-modal-width: 900px;
}
.login-container{
  background-color: #274C77;
  border-radius: 1rem;
  overflow: hidden;
  height: auto
}
.btn-close{
  position: absolute;
  top: 10px;
  right: 10px;
}
.login{
  position: relative;
  background-color: white;
  width: 575px;
  height: 580px;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}
.img img{
    width: 140px;
}
.login form{
    text-align: center;
}
.welcome{
  position: absolute;
  color: white;
  font-size: 3rem;
  flex-wrap: wrap;;
  font-weight: bolder;
  width: 300px;
  top: 15px;
  right: 10px;
}
.student{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 355px;
}
@media (max-width: 770px){
    #student_login .modal-dialog{
      --bs-modal-width: 600px;
    }
    .welcome{
      display: none
    }
    .student{
      display: none
    }
    .login{
        width: inherit
    }
    
}
/*-------- Announcement ------------*/
.announce{
  width: 850px;
  border-radius: .5rem;
  background-color: #13212B !important;
}
.announce * .row{
  height: 300px;
  border: 0px;
}

@media screen and (max-width: 480px) {
  .announce{
    width: 400px;
  }
  .announce * .row{
    height: 659px;
  }
}
@media screen and (max-width: 770px) {
    .announce{
        width: 375px;
    }
    .announce * .row{
        height: 659px;
    }
}

/*-------- Course ------------*/
.course{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
}
.course li a{
  background: #FFFFFF;
  padding: 20px;
  width: 30rem;
  height: 12rem;
  margin: 1rem;
  line-height: 150px;
  color: #13212B;
  font-weight: bold;
  text-align: start;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  border-radius: .5rem;
  border: 3px solid #13212B;
}
.course-item{
  width: 30rem;
  padding: 10px;
  border-left: 2px solid;
  height: -webkit-fill-available;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 480px) {
    .course li a{
        width: 18rem !important;
        height: 100px;
    }
    .eng{
      width: 60px !important;
    }
    .course li a i{
        font-size: 3rem !important;
    }
}
@media screen and (max-width: 640px) {
    .course li a{
        width: 25rem;
        height: 150px;
    }
    .course-item{
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
}
.course li a:hover{
  background-color: #13212B;
  color: white !important;
}
.course li a i{
  font-size: 5em;
  width: 200px;
  display: flex;
  justify-content: center;
}


.search-bar {
  min-width: 360px;
  padding: 0 10px;
}

/*--------------------------------------------------*/
.text {
  overflow: hidden;
  width:100px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
/*--------------------------------------------------*/

.page-act{
    width: 700px;
    position: relative;
    background: var(--white);
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 10px;
    box-shadow: var(--shadow);
    padding: 3.4rem;
}
@media screen and (max-width: 480px) {
    .page-act{
        width: 280px;
        padding: 1.5rem;
    }
}


/*--------------------------------------------------*/

 .search-form {
  width: 100%;
}

 .search-form input {
  border: 0;
  font-size: 14px;
  color: #012970;
  border: 1px solid rgba(1, 41, 112, 0.2);
  padding: 7px 38px 7px 8px;
  border-radius: 3px;
  transition: 0.3s;
  width: 100%;
}

 .search-form input:focus,
 .search-form input:hover {
  outline: none;
  box-shadow: 0 0 10px 0 rgba(1, 41, 112, 0.15);
  border: 1px solid rgba(1, 41, 112, 0.3);
}

 .search-form button {
  border: 0;
  padding: 0;
  margin-left: -30px;
  background: none;
}

 .search-form button i {
  color: #012970;
}


.list-group-item {
  z-index: 2 !important;
  color: #274C77 !important;
  background-color: #cdcdcb !important;
  border: rgba(0, 0, 0, 0);

}
.list-group-item.active {
    z-index: 2 !important;
    color: #274C77 !important;
    background-color: #fff !important;
    border: rgba(0, 0, 0, 0);
}
/*-------- ACCORDION ----------*/

.accordion-button:not(.collapsed) {
    color: #fff !important;
    background-color: #13212B !important;
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}

.accordion-button::after {
    flex-shrink: 0;
    width: var(--bs-accordion-btn-icon-width);
    height: var(--bs-accordion-btn-icon-width);
    margin-left: auto;
    content: "";
    background-image: var(--bs-accordion-btn-icon);
    background-repeat: no-repeat;
    background-size: var(--bs-accordion-btn-icon-width);
    transition: var(--bs-accordion-btn-icon-transition);
}

/*---------- ADMIN LOGIN ------------*/

.admin{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.admin form{
  box-shadow: 7px 8px 4px rgba(0, 0, 0, 0.1);
  border-radius: 14px;
  padding: 50px;
  background-color: #FFF;
  height: 600px;
  display: flex;
  flex-flow: column;
  position: relative;
}
.admin form div img{
  height: 10em;
  width: 10em;
}

/*--------- Tooltip for event -----------*/

[data-event-title]:hover:after {
  opacity: 1;
  transition: all 0.1s ease 0.5s;
  visibility: visible;
}
[data-event-title]:after {
  content: attr(data-event-title);
  position: absolute;
  bottom: 50%;
  left: 115%;
  padding: 10px;
  color: #fff;
  white-space: nowrap;
  font-size: .8rem;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 4px #666;
  -webkit-box-shadow: 0px 0px 4px #666;
  box-shadow: 0px 0px 4px #666;
  background: rgba(19, 33, 43, 0.96);
  opacity: 0;
  z-index: 99999;
  visibility: hidden;
}
[data-event-title] {
  position: relative;
}

/*-------------- Calendar ---------------*/

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    color: var(--primary);
    padding: 10px;
}
.month{
    display: flex;
    align-items: center;
}
.month *{
    margin-bottom: 0;
    font-weight: 600;
}
.calendar-body {
    position: relative;
    background-color: #F8F8F8;
    padding: 20px 40px 60px 40px;
    height: auto;
    box-shadow: var(--shadow);
    border-radius: 33px;
}
.calendar-week-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: 600;
    cursor: pointer;
    color:rgb(104, 104, 104);
}
.calendar-week-days span:hover {
    color:black;
    transition: all .2s ease-in-out;
}
.calendar-week-days span {
    display: grid;
    place-items: center;
    color: var(--bg-second);
    height: 50px;
}
.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-row-gap: 20px;
    color: var(--color-txt);
    justify-items: center;
    font-weight: 600;
}
.calendar-days div {
    width: 37px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: relative;
    cursor: pointer;
    animation: to-top 1s forwards;
}
.month-picker {
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}
.month-picker:hover {
    background-color: var(--color-hover);
}
.month-picker:hover {
    color: var(--color-txt);
}
.month-btn {
    display: flex;
    align-items: center;
}
.month-btn > span {
    height: 30px;
    width: 30px;
    display: grid;
    place-items: center;
    margin: 0px 10px;
    cursor: pointer;
    color: #274C77;
}
.calendar-footer {
    position: relative;
    display: block;
    margin-top: 50px;
    margin-bottom: 50px;
}
.event{
    display: flex;
    padding: 20px 40px 20px 40px;
    background: #F8F8F8;
    border-radius: 25px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: var(--shadow);
}
.event:hover{
    background: #13212B;
    color: #FFF;
}
.event div:nth-child(1){
    width: 400px;
    border-right: 5px solid;
    margin-right: 20px
}
.event label{
    color: #8A8A8A;
    font-size: 21px;
}
.event div div{
    width: 100%;
    font-size: 24px
}
#year:hover{
    cursor: pointer;
    transition: all 0.2 ease-in-out;
}
.calendar-days div span {
    position: absolute;
}
.calendar-days div:hover {
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
    background-color: #8bbcf5;
    border-radius: 20%;
    color: var(--dark-text);
}
.calendar-days div.current-date,
.calendar-days div.event-date{
    color: var(--dark-text);
    background-color: var(--light-btn);
    border-radius: 20%;
}
.calendar-days div.current-date:hover,
.calendar-days div.event-date:hover {
    background-color: #13212B;
}
.month-list {
    position: absolute;
    background-color: #ebebeb;
    color: var(--light-text);
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 5px;
    border-radius: 20px;
}
.month-list > div {
    display: grid;
    place-content: center;
    margin: 5px 10px;
    transition: all 0.2s ease-in-out;
}
.month-list > div > div {
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
}
.month-list > div > div:hover {
    background-color:var(--light-btn);
    color: var(--dark-text);
    transition: all 0.2s ease-in-out;
}
.month-list.show {
    visibility: visible;
    pointer-events: visible;
    left: 5px;
    top: -60px;
    transition: 0.6s ease-in-out;
    animation: to-top .71s forwards;
}
.month-list.hideonce{
    visibility: hidden;
    display: none;
}
.month-list.hide {
    animation: to-top 1s forwards;
    visibility: hidden;
    pointer-events: none;
    display: none;
}
.date-time-formate {
    width: max-content;
    height: max-content;
    position: relative;
    display: inline;
    padding: 50px;
    justify-content: center;
}
.day-text-formate {
    font-size: 1.4rem;
    padding-right: 5%;
    border-right: 3px solid #9796f0;
    position: absolute;
    left: -1rem;
}
.date-time-value {
    display: block;
    height: max-content;
    width: max-content;
    position: relative;
    left: 40%;
    top: -18px;
    text-align: center;
}
.time-formate {
    font-size: 1.5rem;
}
.time-formate.hideTime {
    animation: hidetime 1.5s forwards;
}
.day-text-formate.hidetime {
    animation: hidetime 1.5s forwards;
}
.date-formate.hideTime {
    animation: hidetime 1.5s forwards;
}
.day-text-formate.showtime{
    animation: showtime 1s forwards;
}
.time-formate.showtime {
    animation: showtime 1s forwards;
}
.date-formate.showtime {
    animation: showtime 1s forwards;
}
@keyframes to-top {
    0% {
      transform: translateY(0);
      opacity: 0;
    }
    100% {
      transform: translateY(100%);
      opacity: 1;
    }
}
@keyframes to-left {
    0% {
      transform: translatex(230%);
      opacity: 1;
    }
    100% {
      transform: translatex(0);
      opacity: 1;
    }
}
@keyframes to-right {
    10% {
      transform: translatex(0);
      opacity: 1;
    }
    100% {
      transform: translatex(-150%);
      opacity: 1;
    }
}
@keyframes showtime {
    0% {
      transform: translatex(250%);
      opacity: 1;
    }
    100% {
      transform: translatex(0%);
      opacity: 1;
    }
}
@keyframes hidetime {
    0% {
      transform: translatex(0%);
      opacity: 1;
    }
    100% {
      transform: translatex(-370%);
      opacity: 1;
    }
}
@media (max-width:375px) {
    .month-list>div{
      margin: 5px 0px;
    }
}

/*-----------Smart Form-----------*/
.step {
  display: none;
}
.step.active {
  display: block;
  animation: to-left 0.5s forwards;
}
.form-view{
    width: 100%;
    background: var(--gray);
    border-radius: 14px;
    box-shadow: var(--shadow);
    padding: 2rem
}
.form-success{
    display: flex;
    justify-content: center;
    padding: 2rem
}
.form-footer{
    justify-content: space-between;
    display: flex;
    padding: 1rem;
}
.form-page ul{
    display: flex;
    flex-basis: auto;
}.form-page li{
    position: relative;
    font-size: 3rem;
    padding-left: 2rem;
    color: #AAA5A5;
}.form-page li.current{
    color: var(--light-btn);
}
.form-button{
  display: flex;
  float: right;
  cursor: pointer;
/* text-align: right; */
  align-items: center;
  flex-direction: row-reverse;
}
button.previous-btn {
  float: left;
}
form input.invalid{border-color: red}