.library-1{
    margin-top: 3rem !important;
}

.library-1 h1{
    color: #13212B;
    font: 900 48px 'Inter', sans-serif;

}
.library-1 p{
    font: 600 24px 'Inter', sans-serif;

}
.hr{
    width: clamp(10%, 100vw, 90%) !important;
    left: 0;
}

.fa-file-circle-check, .fa-book-open, .fa-table-list{
    float: right;
}
.btn-primary{
    background-color: #274C77 !important;
    border: 2px solid #274C77 !important;
    font-weight: 700 !important;
    float: right !important;
}
.btn-primary:hover{
    background-color: #13212B !important;
    border: 2px solid #13212B !important;
  
}
.btn-outline-primary:hover{
    background-color: #990000 !important;
    border: 2px solid #990000 !important;
    color: #fff !important;

}
.nav-pills .nav-item .nav-link .active {
    color: #fff !important;
    background-color: #002F49;
  
}
.btn-outline-primary{
    border: 2px solid #274C77 !important;
    color: #274C77 !important;
    font-weight: 700 !important;
    float: right !important;

}
.nav-pills{
    --bs-nav-pills-link-active-color: #fff !important;
    --bs-nav-pills-link-active-bg: #002F49 !important;
    --bs-nav-pills-border-radius: 50px;
    color: #13212B;
}

.req-table .active {
    background-color: #F5F1F1 !important;
}
.nav-tabs{
    --bs-nav-tabs-link-active-bg: #F5F1F1;
}
.th, td {
    font-size: 15px;
    background-color: #F5F1F1 !important;
    color: #002F49;
}


/*Library*/

.container h3{
    font: 900 22px 'inter', sans-serif;

}   
/*Renewal*/

.renewal-form h1{
    color: #13212B;
    font: 900 48px 'Inter', sans-serif;

}
.renewal-form hr, p{
    color: #13212B !important;

}  
.form-select{
    width: 100%;
    height: 60px;

}  
.renewal p{
    font-size: 24px;
    color: #13212B !important;
}
.renewal{
    margin-top: 3rem !important;

}
.stat h1{
    color: #13212B;
    font: 900 48px 'Inter', sans-serif;

}
.stat hr{
    color: #13212B !important;

}
.renewal-link{
    color: #002F49 !important;
  
}  
.renewal-table .active {
    background-color: #F5F1F1 !important;

}
.table-stat th, td {
    background-color: #F5F1F1;
    padding: 1.5rem 2.5rem !important;

}  
.renewal-display {
    width: 80%;

} 
.renewal-display td {
    padding-left: 7rem !important;
    font-size: 22px;

}  
.renewal-display tbody {
    padding: 5rem !important;

}  
.renewal-display .top {
    padding-top: 3rem !important;
  
}  
.renewal-display .bottom {
    padding-bottom: 3rem !important;

/*Request-Library*/
}  
.request-form h1{
    color: #13212B;
    font: 900 48px 'Inter', sans-serif;
  
}
.request-form hr, p{
    color: #13212B !important;

}  
.request p{
    font-size: 24px;
    color: #13212B !important;

}  
.request{
    margin-top: 3rem !important;
  
}
.request-table .active {
    background-color: #F5F1F1 !important;
  
}
.request-display {
    width: 80%;

}
.request-display td {
    padding-left: 7rem !important;
    font-size: 22px;
  
}
.request-display tbody {
    padding: 5rem !important;
  
}
.request-display .top {
    padding-top: 3rem !important;
  
}
.request-display .bottom {
    padding-bottom: 3rem !important;
  
} 
.input[type="file"]{
    -webkit-appearance: none;
    -webkit-rtl-ordering:  left;
}
.input[type="file"]::-webkit-file-upload-button{
    -webkit-appearance: none;
    float: right;
    border: 1px solid #fff;
    border-radius: 4px;
    background-image: -webkit-gradient (linear, left bottom, left top, from(#fff), to(#fff));
    background-image: -moz-linear-gradient(90deg, #fff 0%, #fff 100%);
}
.registrar-req h1{
    color: #13212B;
    font: 900 48px 'Inter', sans-serif;

}
.registrar-req hr, p{
    color: #13212B !important;
}


.step {
    display: none;
}
.step.active {
    display: block;
    animation: to-left 0.5s forwards;
  }
  .form-floating span{
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translatey(-50%);
      color: crimson;
  }
  .form-floating span i {
      color:seagreen;
  }
  #submitError{
    display: block;
    direction: rtl;
    color: crimson;
  
  }
  .form-control,.form-select{
      border: 1px solid #274C77;
      border-radius: 15px;
  }
  .form-view{
      background: var(--gray);
      border-radius: 14px;
      box-shadow: var(--shadow);
      padding: 2rem;
      padding-bottom: 0;
  }.form-view h5{
      margin-bottom: 2rem;
  }.form-view h5 strong{
      width: 50%;
      word-break: break-all;
  }
  .form-success{
      display: flex;
      justify-content: center;
      padding: 2rem
  }
  .form-footer{
      justify-content: space-between;
      display: block;
      padding: 1rem;
      margin-top: 20px;
  }
  .form-page{
      display: flex;
      flex-basis: auto;
      width: 8rem;
      justify-content: space-between;
      align-items: center;
  }.form-page span{
      width: 1.3rem;
      height: 1.3rem;
      border-radius: 50%;
      background-color: var(--dark-gray);
  }.form-page span.current{
      background-color: var(--light-btn);
  }
  .form-button{
    display: flex;
    float: right;
    cursor: pointer;
    align-items: center;
    flex-direction: row-reverse;
  }
  @media (min-width:770px) {
    .form-footer{
      display: flex;
    }
    .form-page li{
      position: relative;
      font-size: 3rem;
      padding-left: 2rem;
      color: #AAA5A5;
    }
  }
  form input.invalid{border-color: crimson}
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  
  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }

input[type="file"]{
        -webkit-appearance: none;
        text-align: left;
        -webkit-rtl-ordering:  left;
 }
     input[type="file"]::-webkit-file-upload-button{
        -webkit-appearance: none;
        float: right;
        margin: 0 0 0 10px;
        border: 1px solid #aaaaaa;
        border-radius: 4px;
        background-image: -webkit-gradient (linear, left bottom, left top, from(#d2d0d0), to(#f0f0f0));
        background-image: -moz-linear-gradient(90deg, #d2d0d0 0%, #f0f0f0 100%);
}
.form-upload{
    margin:auto;
    width: 100%;
    height: 55px !important;
    padding: 15px;
    border: 1px solid #274C77 !important;
    border-radius: 20px !important;
}
  