.library-1{
    margin-top: 3rem !important;
}

.library-1 h1{
    color: #13212B;
    font: 900 48px 'Inter', sans-serif;

}
.library-1 p{
    font: 600 24px 'Inter', sans-serif;

}
.hr{
    width: clamp(10%, 100vw, 90%) !important;
    left: 0;
}

.fa-file-circle-check, .fa-book-open, .fa-table-list{
    float: right;
}
.btn-primary{
    background-color: #274C77 !important;
    border: 2px solid #274C77 !important;
    font-weight: 700 !important;
    float: right !important;
}
.btn-primary:hover{
    background-color: #13212B !important;
    border: 2px solid #13212B !important;
  
}
.btn-outline-primary:hover{
    background-color: #990000 !important;
    border: 2px solid #990000 !important;
    color: #fff !important;

}
.nav-pills .nav-item .nav-link .active {
    color: #fff !important;
    background-color: #002F49;
  
}
.btn-outline-primary{
    border: 2px solid #274C77 !important;
    color: #274C77 !important;
    font-weight: 700 !important;
    float: right !important;

}
.nav-pills{
    --bs-nav-pills-link-active-color: #fff !important;
    --bs-nav-pills-link-active-bg: #002F49 !important;
    --bs-nav-pills-border-radius: 50px;
    color: #13212B;
}

.req-table .active {
    background-color: #F5F1F1 !important;
}
.nav-tabs{
    --bs-nav-tabs-link-active-bg: #F5F1F1;
}
.th, td {
    font-size: 15px;
    background-color: #F5F1F1 !important;
    color: #002F49;
}


/*Library*/

.container h3{
    font: 900 24px 'inter', sans-serif;

}   
/*Renewal*/

.renewal-form h1{
    color: #13212B;
    font: 900 48px 'Inter', sans-serif;

}
.renewal-form hr, p{
    color: #13212B !important;

}  
.form-select{
    width: 100%;
    height: 60px;

}  
.renewal p{
    font-size: 24px;
    color: #13212B !important;
}
.renewal{
    margin-top: 3rem !important;

}
.stat h1{
    color: #13212B;
    font: 900 48px 'Inter', sans-serif;

}
.stat hr{
    color: #13212B !important;

}
.renewal-link{
    color: #002F49 !important;
  
}  
.renewal-table .active {
    background-color: #F5F1F1 !important;

}
.table-stat th, td {
    background-color: #F5F1F1;
    padding: 1.5rem 2.5rem !important;

}  
.renewal-display {
    width: 80%;

} 
.renewal-display td {
    padding-left: 7rem !important;
    font-size: 22px;

}  
.renewal-display tbody {
    padding: 5rem !important;

}  
.renewal-display .top {
    padding-top: 3rem !important;
  
}  
.renewal-display .bottom {
    padding-bottom: 3rem !important;

/*Request-Library*/
}  
.request-form h1{
    color: #13212B;
    font: 900 48px 'Inter', sans-serif;
  
}
.request-form hr, p{
    color: #13212B !important;

}  
.request p{
    font-size: 24px;
    color: #13212B !important;

}  
.request{
    margin-top: 3rem !important;
  
}
.request-table .active {
    background-color: #F5F1F1 !important;
  
}
.request-display {
    width: 80%;

}
.request-display td {
    padding-left: 7rem !important;
    font-size: 22px;
  
}
.request-display tbody {
    padding: 5rem !important;
  
}
.request-display .top {
    padding-top: 3rem !important;
  
}
.request-display .bottom {
    padding-bottom: 3rem !important;
  
} 
.input[type="file"]{
    -webkit-appearance: none;
    -webkit-rtl-ordering:  left;
}
.input[type="file"]::-webkit-file-upload-button{
    -webkit-appearance: none;
    float: right;
    border: 1px solid #fff;
    border-radius: 4px;
    background-image: -webkit-gradient (linear, left bottom, left top, from(#fff), to(#fff));
    background-image: -moz-linear-gradient(90deg, #fff 0%, #fff 100%);
}
  
  
  
  